p {
    line-height: 1.6;
}

ol {
    list-style: decimal;
    margin-left: 40px;
}

ul {
    list-style: inside;
    margin-left: 40px;
}

.disclaimer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #ffcc00;
}