<h1 class="text-center m-8 text-5xl font-[danger] text-primary-500">Haunted Mirror</h1>

<main class="max-w-sm mx-auto">
    <p class="mb-4">Mírate al espejo y te teletransportarás al lugar maravilloso que siempre deseaste</p>
    <app-file-drag-drop (dropFiles)="uploadImage($event)"></app-file-drag-drop>

    <p class="my-5 text-center divider relative">O selecciona una</p>

    <section class="flex items-center justify-around gap-4">
        <figure class="rounded-xl overflow-hidden cursor-pointer hover:scale-105" [routerLink]="['/game/haunted_mirror/mzxkoneikabz8v0fut5o']">
            <img src="https://res.cloudinary.com/cloudwilgen/image/upload/c_thumb,h_100,w_100/r_8/haunted_mirror/mzxkoneikabz8v0fut5o"
                alt="">
        </figure>
        <figure class="rounded-xl overflow-hidden cursor-pointer hover:scale-105" [routerLink]="['/game/haunted_mirror/jstxcygmeqd0g3adno5s']">
            <img src="https://res.cloudinary.com/cloudwilgen/image/upload/c_thumb,h_100,w_100/r_8/haunted_mirror/jstxcygmeqd0g3adno5s"
                alt="">
        </figure>
        <figure class="rounded-xl overflow-hidden cursor-pointer hover:scale-105" [routerLink]="['/game/haunted_mirror/ufs6rea5v2kqo28eckio']">
            <img src="https://res.cloudinary.com/cloudwilgen/image/upload/c_thumb,h_100,w_100/r_8/haunted_mirror/ufs6rea5v2kqo28eckio"
                alt="">
        </figure>
    </section>
</main>