.mirror{
    width: 100%;
    height: 36rem;
    background-image: url("https://res.cloudinary.com/cloudwilgen/image/upload/v1728966233/haunted_mirror/mirror.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}