.puzzle {
  display: flex;
  flex-direction: column;
  // width: 30rem;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: 480px 480px;
}

.row {
  display: flex;
}

.tile {
  // width: 10rem;
  // height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FF6500;
  cursor: pointer;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.tile.empty {
  background-color: rgba(0, 0, 0, 0.75) !important;
  cursor: default;
}

.message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: green;
}