.puzzle {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  display: flex;
}

.tile {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.tile.empty {
  background-color: rgba(0, 0, 0, 0.5) !important;
  cursor: default;
}

.message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: green;
}