<div class="bg-gray-700 opacity-90 h-screen w-screen">

    <section class="max-h-52 w-3/4 bg-white shadow-md rounded-lg absolute bottom-0 top-0 right-0 left-0 m-auto">
        <div class="flex justify-between items-center p-4">
            <div class="w-3/4">
                <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate aspernatur,
                    nisi odio ab perferendis dolores error excepturi repudiandae repellendus minus neque et doloribus,
                    fugit iusto dignissimos, ea sint labore magni.</p>
            </div>
            <figure class="">
                <img class="h-48" src="images/demonio.png" alt="character">
            </figure>
        </div>
        <section class="flex flex-row-reverse items-end">
            <button class="bg-primary text-white rounded-lg px-4 py-2 font-bold">
                <span class="text-white">Continuar</span>
            </button>
        </section>
    </section>



</div>