@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Roboto', system-ui, sans-serif, ;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    color: white;
}


@font-face {
    font-family: 'danger';
    src: url('/fonts/danger.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'who_asks_satan';
    src: url('/fonts/who_asks_satan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  